{% from 'message_box.html' import message_box %}
{% if currency != 'CUP' and currency != 'CUC' %}
  {% call message_box ('error') %}
    {% trans %}Current currency {{ currency }} is not supported by Transfermovil services{% endtrans %}
  {% endcall %}
{% else %}
  {%- trans p = '<p>' | safe, endp = '</p>' | safe, strong = '<strong>' | safe, endstrong = '</strong>' | safe -%}
      {{ p }}Click in the {{ strong }}Query QR{{ endstrong }} button to generate a Transfermovil payment QR{{ endp }}
  {%- endtrans -%}
  <p id="transfermovil-cancel" class="hidden">
    {%- trans a = '<a>' | safe, enda = '</a>' | safe, strong = '<strong>' | safe, endstrong = '</strong>' | safe -%}
      Click {{ a }}here{{ enda }} to cancel payment order
    {%- endtrans -%}
  </p>

  <dl class="i-data-list">
    <dt>{% trans %}First name{% endtrans %}</dt>
    <dd>{{ registration.first_name }}</dd>
    <dt>{% trans %}Last name{% endtrans %}</dt>
    <dd>{{ registration.last_name }}</dd>
    <dt>{% trans %}Total amount{% endtrans %}</dt>
    <dd>{{ format_currency(amount, currency, locale = session.lang) }}</dd>
    <dt></dt>
    <dd id="transfermovil-area">
      <div>
        <a class="i-button highlight">{% trans %}Query QR{% endtrans %}</a>
      </div>
    </dd>

    <script>
      const amount = {{ amount | tojson }}
      const cancel_url = {{ cancel_url | tojson }}
      const csrf_token = {{ session.csrf_token | tojson }}
      const currency = {{ currency | tojson }}
      const proceed_url = {{ proceed_url | tojson }}

      function _fetch (url, data)
        {
          return new Promise ((resolve, reject) =>
            {
              $.ajax (
                {
                  cache : false,
                  complete : IndicoUI.Dialogs.Util.progress (),
                  data : JSON.stringify ($.extend ({}, data || {})),
                  dataType : 'json',
                  error : handleAjaxError,
                  headers : { 'Content-Type' : 'application/json', 'X-CSRF-Token' : csrf_token, },
                  success: (data) => { handleAjaxError (data) || resolve (data) },
                  type : 'POST',
                  url : url,
                })
            })
        }

      $('#transfermovil-cancel a').on ('click', (event) =>
        {
          event.preventDefault ()
          _fetch (cancel_url, { amount : amount, currency : currency, }).then (() => location.reload ())
        })

      $('#transfermovil-area a').on ('click', (event) =>
        {
          event.preventDefault ()
          _fetch (proceed_url, { amount : amount, currency : currency, }).then ((json) =>
            {
              $('#transfermovil-area').html ($('<img/>', { src : 'data:image/svg+xml;base64,' + json.qr, }))
              $('#transfermovil-cancel').removeClass ('hidden')
            })
        })
    </script>
  </dl>
{% endif %}
