{% from 'message_box.html' import message_box %}
{% if currency != 'CUP' and currency != 'CUC' %}
  {% call message_box ('error') %}
    {% trans %}Current currency {{ currency }} is not supported by Transfermovil services{% endtrans %}
  {% endcall %}
{% else %}
  {%- trans p = '<p>' | safe, endp = '</p>' | safe, strong = '<strong>' | safe, endstrong = '</strong>' | safe -%}
      {{ p }}Click in the {{ strong }}Query QR{{ endstrong }} button to generate a Transfermovil payment QR{{ endp }}
  {%- endtrans -%}

  <dl class="i-data-list">
    <dt>{% trans %}First name{% endtrans %}</dt>
    <dd>{{ registration.first_name }}</dd>
    <dt>{% trans %}Last name{% endtrans %}</dt>
    <dd>{{ registration.last_name }}</dd>
    <dt>{% trans %}Total amount{% endtrans %}</dt>
    <dd>{{ format_currency(amount, currency, locale = session.lang) }}</dd>
    <dt></dt>
    <dd>
      <a class="i-button highlight"
         id="transfermovil-link">
        {% trans %}Query QR{% endtrans %}
      </a>
    </dd>
  </dl>

  <script>
    const amount = {{ amount | tojson }}
    const cancel_url = {{ cancel_url | tojson }}
    const csrf_token = {{ session.csrf_token | tojson }}
    const currency = {{ currency | tojson }}
    const proceed_url = {{ proceed_url | tojson }}
    const status_url = {{ status_url | tojson }}

    function _fetch (url, data)
      {
        return new Promise ((resolve, reject) => $.ajax (
          {
            cache : false,
            complete : IndicoUI.Dialogs.Util.progress (),
            data : JSON.stringify ($.extend ({}, data || {})),
            dataType : 'json',
            error : (error) => handleAjaxError (error) && reject (error),
            headers : { 'Content-Type' : 'application/json', 'X-CSRF-Token' : csrf_token, },
            success: (data) => handleAjaxError (data) ? reject (error) : resolve (data),
            type : 'POST',
            url : url,
          }))
      }

    $('#transfermovil-link').on ('click', (event) =>
      {
        event.preventDefault ()

        _fetch (proceed_url, { amount : amount, currency : currency, })
        .then ((json) => showQrDialog (json.qr, (event, widget) =>
            _fetch (cancel_url)
            .then (() => location.reload ())
          ))
      })
  </script>
{% endif %}
