{% extends 'events/payment/transaction_details.html' %}

{% block details %}
  {% if transaction.status.name == 'successful' %}
    <dt>{% trans %}Bank ID{% endtrans %}</dt>
      <dd>{{ transaction.data ['bank_id'] }}</dd>
    <dt>{% trans %}Bank{% endtrans %}</dt>
      <dd>{{ transaction.data ['bank'] }}</dd>
    <dt>{% trans %}Order ID{% endtrans %}</dt>
      <dd>{{ transaction.data ['order_id'] }}</dd>
    <dt>{% trans %}Payer phone{% endtrans %}</dt>
      <dd>{{ transaction.data ['phone'] }}</dd>
    <dt>{% trans %}Payer Transfermovil ID{% endtrans %}</dt>
      <dd>{{ transaction.data ['tm_id'] }}</dd>
  {% endif %}
{% endblock %}
